.alt-header {
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.alt-header__column {
    width: 33%;

}

.alt-header__title {
    font-size: 26px;
    font-weight: 400;
}

.alt-header__column:first-child {
    margin-right: auto;
}


.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column span:last-child {
    padding-left: 20px;
}

.alt-header__column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}